.Cart__Page {

    .Layout__Grid {
        display: flex;
        flex-wrap: wrap;
    }
    
    .Layout__Grid cart__Count {
        
        
        @media (max-width: 450px) {
            width: 100%;
        }
    }

    .Cart__Count {
        width: 60vw;
        min-height: 2rem;
        padding-left: 1.2rem;
        border-radius: .5rem;
        border-bottom: 2px solid hsla(0, 0%, 0%, 0.05);
        margin-left: 3rem;
        position: relative;

        @media (max-width: 768px) {
            width: 100%;
            margin: 0 0 1rem 0;
        }

    }
    
    .Layout__Grid__Item {
        width: 60vw;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: .5rem;
        border-bottom: 2px solid hsla(0, 0%, 0%, 0.05);
        padding: 1.5rem 0;
        position: relative;

        @media (max-width: 768px) {
            min-width: 90vw;
          }
    }
    
    .Layout__Grid__Item__Info {
        height: 100%;
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: .5rem;
        }

        .Remove__Product {
            color: hsl(23, 89%, 41%);
            font-size: 1rem;
            display: inline-block;
            position: absolute;
            bottom: 2rem;
            cursor: pointer;
        }
    }
    
    .Layout__Grid__Item__Quantity {
        margin-left: auto;
        align-self: center;

        @media (max-width: 350px) {
            position: absolute;
            right: .5rem;
          }
    }
    
    .Increase__Quantity,
    .Reduce__Quantity {
        font-size: 1.2rem;
        display: inline-block;
        width: 1.5rem;
        height: fit-content;
        background-color: hsl(156, 60%, 37%);
        color: hsl(149, 80%, 90%);
        border-radius: 2px;
        text-align: center;
        margin: 0 1rem;
        cursor: pointer;
    }

    .Cart__Summary__Container {
        height: fit-content;
        min-width: 25vw;
        margin-left: auto;
        padding: 1.5rem;
        border-radius: 3px;
        box-shadow: hsla(0, 0%, 0%, 0.05) 0px 0px 0px 2px;

        @media (max-width: 768px) {
            width: 100%;
            margin: 2rem auto 0;
          }
    }

    .Total__Amount {
        margin-top: 1.5rem;
    }

    @media (max-width: 450px) {
        h2 {
            font-size: 1.2em;
        }

        h3 {
            font-size: 1em;
        }
      }

    @media (max-width: 350px) {
        h4 {
            font-size: .5em;
        }
      }
}